# Week 2 - Data Analysis

You have been hired by Aeolien Industries, a wind power company, to do a wind resource assessment for Mt. Tom.  A wind resource assessment characterizes the features of the wind at a given location to determine how much power could be generated by the wind.

In order to perform this assessment, you are provided with data for the site.  Your task is to write a report describing the site and the wind resource.  In order to do this, you will need to import the data and analyze the data. In your report you are asked to include the following information mentioned below.

---

This notebook has the questions and steps for the data analysis and some initial setup. You will need to fill in the rest. You may want to reference the notebook from week 1 [here](https://github.com/radryan1979/clim341/blob/main/Assignments/week-1-getting-started.ipynb).

## Get the Data

* The blocks below will import the Pandas and Numpy packages.
* The URL to the excel file is already provided.
* The code to load the data into a dataframe is also provided.

In [2]:
# Load the packages we need
import numpy as np
import pandas as pd

In [3]:
# URL to the excel file we'll be opening
url = "https://github.com/radryan1979/clim341/raw/refs/heads/main/Data/HW1_MtToms_data.xlsx"

In [30]:
# Load the excel file using pandas
df = pd.read_excel(url, index_col='sample')

In [32]:
# You can list the columns in your dataframe
df.columns

Index(['Hour', 'm/s'], dtype='object')

* Your data is loaded, you need to look at the first few rows and last few rows

In [ ]:
# Print the first 5 rows of the dataframe

In [ ]:
# Print the last 5 rows of the dataframe

* Now that you have an idea of what your data looks like, you can start your report.

---

## Descriptive Stats

The report asks you to find the following information for the wind speed.
* Average wind speed for the month
* Standard deviation of the wind speed
* Highest recorded wind speed
* Lowest recorded wind speed

You learned how to get descriptive statistics in the intro workbook, you can use that for the m/s column.

In [10]:
# Use the .describe() to list the mean and other stats for the m/s column.

---

## Plotting the Data

* You can use the `.plot()` feature you learned about last week
* You have to title the plot and label the axis. You can do this by passing parameters into the `.plot()` function

  ```
  df['column name'].plot(
            title="My Title",
            xlabel="whatever you want to call x",
            ylabel="whatever you want to call y"
            )
  ```

In [13]:
# Following the format above, write the code to plot the wind speed

---

## Fix the Time

* The time stamp for the data is awkward. It may be more useful to convert the data in the hour column. To do this, start working in a new column in your spreadsheet. Label it Day.  Then calculate the day of the month by dividing your hour data by the number of hours in the day. The result you get should be in decimal days. Replot your data using the decimal day on the x-axis instead of the decimal hour. Copy your new figure here.

In [36]:
# you can add a new column derived from existing columns 
df['Day'] = df['Hour']/24.0

In [34]:
df.head(5)

            Hour       m/s       Day
sample
1       0.166667  1.609340  0.006944
2       0.333333  1.162300  0.013889
3       0.500000  1.162300  0.020833
4       0.666667  0.849376  0.027778
5       0.833333  1.162300  0.034722